@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menu {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    background: #F6F6F6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: -webkit-linear-gradient(#F6F6F6, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: -webkit-linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menu {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    background: #F6F6F6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: -webkit-linear-gradient(#F6F6F6, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: -webkit-linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 1s ease 3s 1 normal both;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__container-item {
  display: flex;
  position: relative;
}
.loader__container-item div {
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loader__item {
  padding: 0.5rem;
  animation: jump 0.8s ease-in-out 0s 1 normal running;
}
.loader__item--1 {
  animation-delay: 0.25s;
}
.loader__item--2 {
  animation-delay: 0.5s;
}
.loader__item--3 {
  animation-delay: 0.75s;
}
.loader__item--4 {
  animation-delay: 1s;
}
.loader__item--5 {
  animation-delay: 1.25s;
}
.loader__item--6 {
  animation-delay: 1.5s;
}
.loader__item--7 {
  animation-delay: 1.75s;
}
.loader__item--8 {
  animation-delay: 2s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.btn {
  font-size: 1rem;
  padding: 1rem 3rem;
  border-radius: 1.6rem;
  border: none;
  background: linear-gradient(#ff79da, #9356dc);
  color: #FFFFFF;
  box-shadow: 3px 3px 17px -10px #000000;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  opacity: 0.9;
  transform: scale(1.02);
  box-shadow: 3px 3px 17px -5px #000000;
}

#header-title {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 1.25rem;
  box-shadow: 3px 3px 17px -10px #000000;
}
#header-title i {
  font-size: 1.25rem;
}
#header-title h1 {
  text-align: center;
  flex-grow: 1;
}

header a {
  text-decoration: none;
  color: #000000;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#top #location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem;
}
#top #location p {
  padding: 0rem 1.5rem;
  opacity: 0.7;
}
#top #location i {
  opacity: 0.5;
}
#top #explorer {
  background-color: #F6F6F6;
  padding: 3rem 1.5rem;
}
#top #explorer__title {
  font-size: 1.5rem;
  padding: 0rem 1rem;
}
#top #explorer__para {
  padding: 1rem 0rem 2rem;
  font-size: 1.1rem;
  opacity: 0.5;
}
#top #explorer__btn {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
}

#operation {
  padding: 1rem 1rem 4rem;
  counter-reset: steps;
}
#operation h2 {
  padding: 1.5rem 0rem;
}
#operation ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#operation li {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  padding: 2rem 1rem;
  flex-grow: 1;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 3px 3px 17px -10px #000000;
}
#operation li i {
  margin-right: 1.5rem;
  font-size: 1.5rem;
  opacity: 0.5;
}
#operation li::before {
  content: counter(steps);
  counter-increment: steps;
  color: #FFFFFF;
  background-color: #9356dc;
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
  position: relative;
  right: 1.5rem;
}
#operation li:hover {
  background: #9356dc;
  background: rgba(147, 86, 220, 0.1);
}
#operation li:hover i {
  color: #9356dc;
  opacity: 1;
}

.restaurants {
  padding: 1rem 1rem 4rem;
  background: #F6F6F6;
}
.restaurants h2 {
  padding: 1.5rem 0rem;
}
.restaurants__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.restaurants__list a {
  text-decoration: none;
  color: #000000;
}

.card {
  border-radius: 1rem;
  box-shadow: 3px 3px 17px -10px #000000;
  background-color: white;
  flex: 1 1 100%;
}
.card__container-img {
  position: relative;
  min-height: 174px;
  border-radius: inherit;
  overflow: hidden;
}
.card__img {
  position: absolute;
  width: 100%;
  height: 130%;
  bottom: 5px;
  object-fit: cover;
}
.card__badge {
  position: absolute;
  right: 0.75rem;
  top: 1rem;
  padding: 0.3rem;
  border-radius: 0.125rem;
  background: #99e2d0;
  color: #1b6150;
}
.card__container-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__description {
  padding: 1rem;
}
.card__icon {
  margin-right: 2rem;
  cursor: pointer;
}
.card__icon .fa-heart {
  font-size: 2rem;
}
.card__icon .fas {
  display: none;
  animation: heart 0.3s ease-in-out 0s 1 normal running;
}
.card__icon:hover .fas {
  display: block;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__icon:hover .far {
  display: none;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.footer {
  background: #353535;
  color: #FFFFFF;
  padding: 2rem 1rem;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding-bottom: 1rem;
}
.footer__link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__icon1 {
  padding-right: 1rem;
}
.footer__icon2 {
  padding-right: 0.5rem;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.img-restaurant {
  max-height: 300px;
}
.img-restaurant > img {
  width: 100%;
  height: 100%;
}

.menu {
  background: #F6F6F6;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  position: relative;
  bottom: 3.25rem;
  padding: 2rem 0rem;
  margin-bottom: -3.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}
.menu__title > h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
.menu__title__icon {
  margin-right: 1rem;
  cursor: pointer;
}
.menu__title__icon .fa-heart {
  font-size: 2rem;
}
.menu__title__icon .fas {
  display: none;
  animation: heart 0.2s ease-in-out 0s 1 normal running;
}
.menu__title__icon:hover .fas {
  display: block;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__title__icon:hover .far {
  display: none;
}
.menu__list {
  margin: 0.5rem 0rem;
  padding: 0rem 1rem;
  max-width: 100%;
  overflow: hidden;
}
.menu__sub-title {
  padding: 0.5rem 0rem;
  position: relative;
}
.menu__sub-title h3 {
  font-size: 1rem;
  font-weight: 400;
}
.menu__sub-title::after {
  content: "";
  width: 2.5rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.menu__choice {
  display: flex;
  background: #FFFFFF;
  margin: 1rem 0rem;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  overflow: hidden;
  box-shadow: 3px 3px 17px -10px #000000;
}
.menu__choice:hover .menu__confirmation {
  margin: -1rem -1rem -1rem -1rem;
  padding-right: 0.5rem;
}
.menu__choice:hover i {
  transform: rotateZ(0deg);
}
.menu__anim {
  animation: menu 0.5s ease-in-out 0s 1 normal both;
}
.menu__anim--1 {
  animation-delay: 0s;
}
.menu__anim--2 {
  animation-delay: 0.2s;
}
.menu__anim--3 {
  animation-delay: 0.4s;
}
.menu__anim--4 {
  animation-delay: 0.6s;
}
.menu__anim--5 {
  animation-delay: 0.8s;
}
.menu__anim--6 {
  animation-delay: 1s;
}
.menu__anim--7 {
  animation-delay: 1.2s;
}
.menu__anim--8 {
  animation-delay: 1.4s;
}
.menu__anim--9 {
  animation-delay: 1.6s;
}
.menu__anim--10 {
  animation-delay: 1.8s;
}
.menu__description {
  overflow: hidden;
  flex: 1 1 calc(100% - 60px);
}
.menu__description h4, .menu__description p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  margin-right: 2rem;
  right: 1rem;
}
.menu__confirmation {
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: -1rem -6.5rem -1rem -1rem;
  transition: all 0.3s ease-in-out 0.15s;
}
.menu__wrap-icon i {
  transform: rotateZ(-240deg);
  transition: all 0.3s ease-in-out 0.15s;
}

.container-btn {
  align-self: center;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
