@use "../utils/variables";

.btn{
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 1.6rem;
    border: none;
    @include gradient-color;
    color: #FFFFFF;
    @include shadow-base;
    transition: all 0.3s ease-in-out;
    &--is-hover:hover{
        opacity:0.9;
        transform: scale(1.02);
        @include shadow-hover;
    }
}