@use "../base/typography" as typo;
@use "../utils/variables";

.loader{
    position: fixed;
    max-width: inherit;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba($color: #FFFFFF, $alpha: 0.9) ;
    animation: loader 1s ease 3s 1 normal both;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__border1{
        position: relative;
        height: 0.5rem;
        width: 100%;
        background-color: $color-taitiary;
        animation: loader-border1 3s ease-in-out 0s 1 normal both;

    }
    &__border2{
        position: relative;
        height: 0.5rem;
        width: 100%;
        background-color: $color-taitiary;
        animation: loader-border2 1s ease-in-out 1s 1 normal both;
    }
    &__container-item{
        display: flex;
        position: relative;
        
        div{
            font-family: typo.$font-title ;
            font-size: 2.5rem;
            background: -webkit-linear-gradient(variables.$color-secondary, variables.$color-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    // animation  item
    &__item{
        padding: 0.5rem;
        animation: jump 0.8s ease-in-out 0s 1 normal running;


        &--1{
            animation-delay: 0.25s;
        }
        &--2{
            animation-delay: 0.5s;
        }
        &--3{
            animation-delay: 0.75s;
        }
        &--4{
            animation-delay: 1s;
        }
        &--5{
            animation-delay: 1.25s;
        }
        &--6{
            animation-delay: 1.5s;
        }
        &--7{
            animation-delay: 1.75s;
        }
        &--8{
            animation-delay: 2.0s;
        }
    }
}
@keyframes loader-border1 {
    0%{
        transform: translateX(100%);
            background-color: $color-taitiary;
    }
    25%{
        transform: translateX(0%);
    }
    60%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
        background-color: $color-taitiary;
    }
}
@keyframes loader-border2 {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes loader {
    100%{
        opacity: 0;
        z-index: -10;
    }
}

@keyframes jump {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0.5rem);
    }
    75% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }
}