// font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;

*{
    font-family: $font-text;
}


// title H1
h1 {
    font-family: $font-title;
}

// title menu

.menu__title{
    & > h2{
        font-family: $font-title ;
        font-weight: 500;
    }
}

// Footer

.footer__title{
    font-family: $font-title;
    font-weight: 500;
}