@use "../utils/variables";

        // Section top
#top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    #location{
        background-color: variables.$color-background-grey;
        @include flex-content(center);
        padding:1rem;
        font-size: 1rem;

        p{
            padding:0rem 1.5rem;
            opacity: 0.7;
        }

        i{
            opacity: 0.5;
        }
    }

    #explorer{
        background-color: variables.$color-background-base;
        padding: 3rem 1.5rem;

        &__title{
            font-size: 1.5rem;
            padding:0rem 1rem;
        }

        &__para{
            padding: 1rem 0rem 2rem;
            font-size: 1.1rem;
            opacity: 0.7;
        }
        &__btn{
            padding: 1rem 1.5rem;
            @include reset-link(#FFFFFF);
        }

    }
}

        // End section top

        //Operation

#operation{

    padding: 1rem 1rem 4rem;
    counter-reset: steps;
    @include max-width;

    h2{
        padding: 1.5rem 0rem;
    }
        ol{
        list-style-type: none;
        @include flex-direction(column);
        flex-wrap: wrap;
        gap: 1rem;
        @media screen and (min-width:921px){
            flex-direction: row;
        }
    }
    li{
        display: flex;
        align-items: center;
        flex:1;
        margin: 0;
        background-color: variables.$color-background-base;
        padding: 2rem 1rem;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: bold;
        @include shadow-base;
        
        
        i{
            margin-right: 1.5rem;
            font-size: 1.5rem;
            opacity:0.5;
        }
        &::before{
            content: counter(steps);
            counter-increment: steps;
            color:#FFFFFF;
            background-color: variables.$color-primary;
            padding: 0.25rem 0.5rem;
            border-radius: 50%; 
            position: relative;
            right: 1.5rem;
        }
        &:hover{
            @include background-opacity(variables.$color-primary, 0.1);
            i{
                color: variables.$color-primary;
                opacity: 1;
            }
        }
    }
}

        // End operation

        // Restaurants

.restaurants{
    padding: 1rem 1rem 4rem;
    background: variables.$color-background-base;
    h2{
        padding: 1.5rem 0rem;
        @include max-width;
    }

    &__list{
        @include max-width;
        display: flex;
        flex-wrap: wrap;
        gap:1rem;
        a {
            @include reset-link;
        }
    }
}

        // Card

.card{
    border-radius: 1rem;
    @include shadow-base;
    background-color: white;
    flex: 1 1 29.4rem;

    &__container-img{
        position: relative;
        min-height: 174px;
        border-radius: inherit;
        overflow: hidden;
    }
    &__img{
        @include cover-img;
        width: 100%;
        height: 130%;
        bottom:5px;
    }
    &__badge{
        position: absolute;
        right:0.75rem;
        top:1rem;
        padding: 0.3rem;
        border-radius: 0.125rem;
        background: variables.$color-taitiary;
        color:#1b6150;
    }
    &__container-desc{
        @include flex-content(space-between);
        align-items:center ;
    }
    &__description{
        padding:1rem;
    }
    &__icon{
        position: relative;
        margin-right: 2rem;
        .fa-heart{
            font-size: 1.8rem;
            position: absolute;
            right: -1rem;
            bottom: -1.5rem;
            padding: 1rem;
        }
    }
}

        // end restaurants