@use "../utils/variables";

.footer{
    background: variables.$color-background-footer;
    color: #FFFFFF;
    padding: 2rem 1rem;
    &__title{
        @include max-width;
        padding-bottom: 1rem;
    }
    &__container-link{
        @include max-width;
        @include flex-direction(column);
        flex-wrap: wrap;
        gap:0.5rem;
    }
    &__link{
        @include reset-link(#ffffff);
        width: fit-content;
        &--is-hover:hover{
            text-decoration: underline;
        }
    }
    &__icon1{
        padding-right:1rem ;
    }
    &__icon2{
        padding-right:0.5rem;
    }
}