@use "../utils/box-shadow";
@use "../utils/reset-link" as link;

#header-title{
    display: flex;
    align-items: center;
    position: relative;
    padding:0.5rem 1.25rem;
    @include box-shadow.shadow-base;
    & i{
        font-size: 1.25rem;
    }
    & h1{
        text-align: center;
        flex-grow: 1;
    }
}
header{
    a{
        @include link.reset-link;
    }
}