.header{
    display: flex;
    align-items: center;
    position: relative;
    padding:0.5rem 1.25rem;
    @include shadow-base;
    &__link{
        @include reset-link
    }
    &__icon{
        font-size: 1.25rem;
    }
    &__title{
        text-align: center;
        flex-grow: 1;
    }
}