@use "../utils/variables";
@use "../utils/box-shadow";
@use "../utils/background-opacity" as bgo;

#operation{
    
    padding: 1rem 1rem 4rem;
    counter-reset: steps;

    h2{
        padding: 1.5rem 0rem;
    }
     ol{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        @media screen and (min-width:921px){
            flex-direction: row;
        }
    }
    li{
        flex:1;
        margin: 0;
        display: flex;
        align-items: center;
        background-color: variables.$color-background-base;
        padding: 2rem 1rem;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: bold;
        @include box-shadow.shadow-base;
        
        
        i{
            margin-right: 1.5rem;
            font-size: 1.5rem;
            opacity:0.5;
        }
        &::before{
            content: counter(steps);
            counter-increment: steps;
            color:#FFFFFF;
            background-color: variables.$color-primary;
            padding: 0.25rem 0.5rem;
            border-radius: 50%; 
            position: relative;
            right: 1.5rem;
        }
        &:hover{
            @include bgo.background-opacity(variables.$color-primary, 0.1);
            i{
                color: variables.$color-primary;
                opacity: 1;
            }
        }
    }
}