@use "../utils/variables";
@use "../utils/reset-link" as link;

#top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    #location{
        background-color: variables.$color-background-grey;
        display: flex;
        justify-content: center;
        padding:1rem;
        font-size: 1rem;

        p{
            padding:0rem 1.5rem;
            opacity: 0.7;
        }

        i{
            opacity: 0.5;
        }

    }

    #explorer{
        background-color: variables.$color-background-base;
        padding: 3rem 1.5rem;

        &__title{
            font-size: 1.5rem;
            padding:0rem 1rem;
        }

        &__para{
            padding: 1rem 0rem 2rem;
            font-size: 1.1rem;
            opacity: 0.5;
        }
        &__btn{
            padding: 1rem 1.5rem;
            @include link.reset-link(#FFFFFF);
        }

    }

}